mixin menuEl(url, text)
  li(attributes, ng-class="getClass('#{url}')")
    a(ng-href="##{url}") #{text}

mixin menuElOut(url, text)
    li(attributes, ng-class="getClass('#{url}')")
        a(ng-href="#{url}") #{text}
ul
  +menuEl('/about', 'o jinkubatorze')
  +menuEl('/meetings', 'spotkania')
  +menuEl('/cooperation', 'współpraca')
  +menuEl('/partners' , 'partnerzy')
  +menuEl('/prelegents' , 'prelegenci')
  +menuElOut('http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com', 'kalendarz')
  +menuElOut('http://groups.google.com/group/jinkubator-admin/post?sendowner=1&hl=pl&pli=1' , 'kontakt')
